# Various Altium files
*.PrjPCBStructure
*.SchDocPreview
*.PcbDocPreview
__Previews
*.PrjPcbStructure
*.Dat
*.REP 
*.TLT
*.LOG
*.log
*.htm
*.$$$

#useless dirs
Project\ Outputs
Project\ Logs
Project Outputs for*
REV0/PROJECT/Project\ Outputs
REV0/PROJECT/Project\ Logs
REV0/PROJECT/Project Outputs for*
REV0/PROJECT/Project Logs for*

#History
History
REV0/PROJECT/History

#Exports, but not manual ones
exports/*
!exports/manual

#Python stuff
scripts/__pycache__/
*.bak
*.dwl
*.dwl2
